

<div class="container">
  <h1 class="yellow-header text-center"><i class="far fa-lemon"></i>  <%= @restaurant.name %></h1>
  <br>
  <h4>Type of Food</h4>
  <hr>
  <p><%= @restaurant.category.capitalize %></p>
  <br>
  <div class="contact">
    <h4>Contact</h4>
    <hr>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
  </div>
  <br>
  <div class="reviews">
    <h4>Reviews</h4>
    <hr>
    <div class="create-review">
      <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
      <%= render 'form_review' %>
    </div>
    <br>
    <% @restaurant.reviews.each do |review| %>
      <div class="review">
        <% review.rating.times do %>
          <i class="far fa-lemon rating-positive"></i>
        <% end %>
        <% (5 - review.rating).times do %>
          <i class="far fa-lemon rating-negative"></i>
        <% end %>
        <p><%= review.content %></p>
        <br>
      </div>
    <% end %>
  </div>
</div>
